

.box{
  background: #e7e8eb;
}
.header{
  height: 90px;
  padding: 20px 0;
  line-height: 50px;
  font-size: 13px;
  background: #3d474a  ;
  border-bottom: 1px solid #cccccc;
}
.header a {
   color: #e85529;
}
.cont{ width: 98%; margin: 0 auto;}
.header .logo{
  float: left;
}
.header .name{
  float: right; color: #fff;
}

.content{
  background: #e7e8eb;
  width: 100%;
  position: relative;
  min-height:-moz-calc(100vh - 130px); min-height:-webkit-calc(100vh - 130px); min-height: calc(100vh - 130px);
  border: 1px solid #cccccc;
  border-top: 0;
  min-width:1000px;
}
.nav_left{
  width: 100px;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #cccccc;
  background: #fff;
  font-size: 13px;
  text-align: center;
}
.nav_left li{
  height: 100px;
  text-align: center;
  color: #3d474a;
  cursor: pointer;
  outline: none;
  padding: 15px 0;
}
.fonticon .icon{ color: #3d474a; font-size: 34px }
/*3d474a*/
.nav_left li:hover{background: #efeff4;}
.nav_left li.active{background: #e85529; color: #fff;}
.nav_left li.active .icon{ color: #fff; }
.cont_right{
  margin: 0 0 0 101px;

  position: relative;
  overflow-x: auto;

}
.footer{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999999;
  font-size: 0.75rem;
  background: #e7e8eb;
}


